@font-face {
    font-family: 'VariableFont';
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    font-family: 'VariableFont' ;
}